{% extends 'blog_app/base.html' %}
{% load staticfiles %}

{% block css %}{{block.super}}
    <style>
        .sidebar {background-image: url('{% static 'img/default-contact.jpg' %}')}
    </style>
{% endblock %}

{% block content %}
    <main class="container left-container">
        <div class="row">
            <section class="sidebar col-lg-5 col-12">
                <div class="site-info">
                    <div class="primary-info">
                        <h1>Reset password</h1>
                        <p>Enter email to reset your lost password</p>
                    </div>
                    <div class="secondary-info">
                        <p><a class="btn btn-default" href="{% url 'login' %}"><i class="fa fa-user"></i>Login</a>
                    </div>
                </div>
            </section>
            <div class="col-lg-7 col-12 ml-auto main-content">

                <div class="log-form-title">
                    <h3>Please enter your em@il</h3>
                </div>

                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" name="email" maxlength="254" required id="id_email" class="form-control" />
                    </div>
                    <div class="form-group">
{#                        <label for="email">Email</label>#}
                        {% if form.email.errors %} {{ form.email.errors }} {% endif %}
{#                        {{ form.email }}#}
                        <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
                    </div>
                </form>

            {% include "footer_small.html" %}

            </div><!-- main content -->
        </div> <!--/row -->
    </main> <!-- /container -->

{#    <script type="text/javascript">#}
{#        /* === for customize django form fields === */#}
{#        document.getElementById("id_email").classList.add("form-control");#}
{#    </script>#}

{% endblock %}