{% extends 'blog_app/base.html' %}
{% load staticfiles %}
{% load recursion_of_comments %}

{% block css %}{{block.super}}
    <style>
        .hero-image {background-image: url('{% static img_background %}')}
    </style>
    <link href="{% static 'style/comment.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <header class="hero-image" role="banner"></header>
    <main class="container">
        <div class="row">
            <div class="col-xs-12 single-content">
                <p class="meta">
                    <a class="" href="category.html">{{ article_by_id.user.username }}</a>
                    <i class="link-spacer"></i>
                    <i class="fa fa-bookmark"></i> {{ article_by_id.create|timesince }}
                </p>
                <h1>{{ article_by_id.theme|title }}</h1>
                <p class="subtitle"></p>
                <p>{{ article_by_id.content }}</p>
                <p class="pullquote"></p>
{#                <p>PAGE CONTENT</p>#}
            </div><!-- main-content/col -->
        </div> <!--/row -->

        {%  block form_for_coment %}
        <div class="container">
            <form method="post">
                {% csrf_token %}

{#                {% for field in form %}#}
{#                    <div class="form-group">#}
{#                    <p>#}
{#                    <label>{{ field.label }}</label><br>#}
{#                    {{ field }}#}
{#                    {{ field.errors }}#}
{#                    </p>#}
{#                    </div>#}
{#                {% endfor %}#}
                    {{ form.as_p }}

                <div class="form-group">
{#                    <input class="btn btn-default"  type="submit" value="publish comment">#}
                    <input type="submit">
                </div>
            </form>
        </div>
        {% endblock %}

    {% block comment %}
    {% if comments %}
        <div class="container bootstrap snippet">
            <div class="row">
		        <div class="col-md-12">
		            <div class="blog-comment">
				        <h3>Comments({{ count_comment }})</h3>
                        <hr/>
                    	<ul class="comments">

                        {% for com in comments %}
				            <li class="clearfix">
                                <img src="{{MEDIA_URL}}{{ com.who_comment.profile.avatar_image.url }}" class="avatar" alt="">
				                <div class="post-comments">
				                    <p class="meta">{{ com.create | date:"d M Y" }}
                                    <a href="/articles_by_user/{{ com.who_comment.id }}">{{ com.who_comment.username }}</a>
                                        says :<i class="pull-right">
                                    <a href="#"><small>Reply</small></a></i>
                                    </p>
				                    <p>{{ com.content }}</p>
				                </div>

                                {% with article_by_id|get_discus_for_comment:com.id as discus %}
                                    {% if discus %}
                                        {% for d in discus %}
                                            <ul class="comments">
				                                <li class="clearfix">
				                                    <img src="{{MEDIA_URL}}{{ d.who_comment.profile.avatar_image.url }}" class="avatar" alt="">
				                                    <div class="post-comments">
				                                        <p class="meta">{{ d.create | date:"d M Y" }}
                                                            <a href="/articles_by_user/{{ d.who_comment.id }}">{{ d.who_comment.username }}</a>
                                                            says : <i class="pull-right">
                                                            <a href="#"><small>Reply</small></a></i>
                                                        </p>
                                                        <h6><i>{{ d.content_from_parent }}</i></h6>
			                                            <p>{{ d.content }}</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}

				            </li>
                        {% endfor %}

                        </ul>
			        </div>
		        </div>
	        </div>
        </div>
    {% else %}

        <div class="container">
            <h3>
                <i class="fa fa-comments-o" aria-hidden="true"></i>
                ... no comments for this article yet<br>
            </h3>
        </div>

    {% endif %}
    {% endblock comment%}


    </main> <!-- /container -->
{% endblock content %}

{% block footer %}
    <footer class="single">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-2">
                    <img src="{{MEDIA_URL}}{{ article_by_id.user.profile.avatar_image.url }}" class="user-icon " alt="user-image">
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="category-list">
                        <p>Published <span>{{ article_by_id.create|date:"d M Y" }}</span></p>
                        <p><a href="#">{{ article_by_id.profile.nick }}</a></p>
                    </div>
                </div><!-- end col -->
                <div class="col-xs-12 col-md-4">
                    <div class="social">
                        <p>Share this article</p>
                        <div class="social-links">
                            <a class="social-icon" href="#" data-platform="twitter" data-message="Message about this post" data-url="http://ttt.com/post"><i class="fa fa-twitter"></i></a>
                            <a class="social-icon" href="#" data-platform="facebook" data-message="Message about this post" data-url="http://ttt.com/post"><i class="fa fa-facebook-official"></i></a>
                            <a class="social-icon" data-platform="mail"  href="mailto:{{ mail_address }}"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- end row -->
        </div>
    </footer>
{% endblock %}
{#hard-code some URL#}