{% extends 'blog_app/base.html' %}
{% load staticfiles %}

{% block css %}{{block.super}}
      <style>
        .sidebar {background-image: url('{% static img_background %}')}
      </style>
{% endblock %}

{% block content %}
    <main class="container left-container">
        <div class="row">

            <section class="sidebar col-lg-5 col-12">
                <div class="site-info">
                    <div class="primary-info">
                        <h1>Blog</h1>
                        <p>share your ideas with friends and like-minded people</p>

                        <p>Content is king</p>
                    </div>
                    <div class="secondary-info">
                        <p>
{#                      <a class="btn btn-primary" href="#"><i class="fa fa-user-plus"></i>Join Our Newsletter</a>#}
                        <a class="btn btn-primary" href="{% url 'new_article' %}">Create new Post</a>
                        </p>
                    </div>
                </div>
            </section><!-- end sidebar -->

            <section class="col-lg-7 col-12 ml-auto main-content">

                <div class="sub-nav">
                    <a href="#" class="select-posts active">Posts</a>
{#                  <a href="#" class="select-categories">Categories</a>#}
                </div>

                <div class="home-page-posts animated fadeIn ">
                {% if ten_random_articles %}
                    {%  for article in ten_random_articles %}
                        <article class="post">
                            <div class="post-preview col-10  no-gutter">
                                <h2><a href="{{ article.article_url }}">{{ article.theme|title }}</a></h2>
                                <p>{{ article.content|truncatewords:25}}</p>
                                <p class="meta">

{#                                    `NoReverseMatch` if use {% url 'articles_by_user' user_pk=article.user.id %} #}
{#                                    !!! maybe need define property to model !!! {{ article.user.id }} #}

{#                                    <a href="{% url 'articles_by_user' user_pk=article.user.id %}">{{ article.user.username }}</a>#}
                                    <a href="/articles_by_user/{{ article.user.id }}">{{ article.user.username }}</a>
                                    <i class="link-spacer"></i>
                                    <i class="fa fa-bookmark"></i>
                                    {{ article.create|timesince }}
                                    <i class="link-spacer"></i>

                                    {% with article.count_comment as art_count%}
                                        {% if art_count %}
                                            <i class="fa fa-comments" aria-hidden="true"></i>
                                            {{ art_count }} comments
                                        {% else %}
                                            <i class="fa fa-comment-o" aria-hidden="true"></i>
                                            no comments yet
                                        {% endif %}
                                    {% endwith %}
                                </p>
                            </div>
                            <div class=" col-2  no-gutter">
{#                                <a href="{% url 'articles_by_user' user_pk=article.user.id %}" ><img src="{{MEDIA_URL}}{{ article.user.profile.avatar_image.url }}" class="user-icon" alt="user-image"></a>#}
                                <a href="/articles_by_user/{{ article.user.id }}" ><img src="{{MEDIA_URL}}{{ article.user.profile.avatar_image.url }}" class="user-icon" alt="user-image"></a>
                            </div>
                        </article>
                    {% endfor %}
                {% else %}
                    <h2><br> ... no articles for render :( </h2>
                {% endif %}
                </div><!-- Home page posts -->

            {% include "include_html/footer_small.html" %}


            </section><!-- main content -->
        </div> <!--/row -->
    </main> <!-- /container -->
{% endblock %}
{#hard-code some URL#}



