{% extends 'blog_app/base.html' %}
{% load staticfiles %}

{% block css %}{{block.super}}
    <style>
        .sidebar {background-image: url('{% static 'img/default-register-sidebar.jpg' %}')}
    </style>
{% endblock %}

{% block content %}
    <main class="container left-container">
        <div class="row">
            <section class="sidebar col-lg-5 col-12">
                <div class="site-info">
                    <div class="primary-info">
                        <h1>Registration</h1>
                        <p>Registration to this page</p>
                    </div>
                    <div class="secondary-info">
                        <p><a class="btn btn-default" href="{% url 'login' %}"><i class="fa fa-user"></i>Login</a>
                    </div>
                </div>
            </section>
            <div class="col-lg-7 col-12 ml-auto main-content">

                <div class="log-form-title">
                    {% if form.errors %}
                    <h3>Please try again.</h3>
                    {% else %}
                    <h3>Please fill in the registration form:</h3>
                    {% endif %}
                </div>


            <div class="container">
                <form method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                    <div class="form-group">
                        <input class="btn btn-default"  type="submit" value="Submit">
                    </div>
                </form>
            </div>

                <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
                <p><a href="{% url 'login' %}">Already registered? Login</a></p>

            {% include "include_html/footer_small.html" %}

            </div><!-- main content -->
        </div> <!--/row -->
    </main> <!-- /container -->

{% endblock %}